.left-block-nav {
  min-width: 305px;
  max-width: 305px;
  height: fit-content;
  margin-right: 20px;
  border: 0.5px solid #D9D9D9;
}

.section-manufacturer {
  display: flex;
  flex-direction: column;
  height: 250px;
  border-bottom: 0.5px solid #EDEDED;
}

.lbn-section-title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  padding-left: 20px;
  font-size: 18px;
  line-height: normal;
  font-weight: 500;
  background-color: #EDEDED;
  color: #514E49;
  margin-bottom: 10px;
}

.lbn-section-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.lbn-section-item {
  padding-left: 20px;
}

.form-item {
  display: flex;
}

.lbn-section-item__check {
  margin-right: 10px;
}

.lbn-section-item__parametr {
  padding-top: 5px;
  font-size: 16px;
}

.section-type {
  margin-bottom: 20px;
}

.button-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  font-size: 18px;
  line-height: normal;
  font-weight: 500;
  background-color: #EDEDED;
  color: #514E49;
}

.button-search:hover {
  background-color: #EF9537;
}

@media only screen and (max-width: 1280px) {
  .left-block-nav {
    min-width: 301px;
    max-width: 301px;
  }
}
@media only screen and (max-width: 1024px) {
  .left-block-nav {
    min-width: 233px;
    max-width: 233px;
  }
  .lbn-section-item__parametr {
    font-size: 14px;
  }
  .lbn-section-item {
    padding-left: 8px;
  }
}
@media only screen and (max-width: 960px) {
  .left-block-nav {
    min-width: 193px;
    max-width: 193px;
  }
}
@media only screen and (max-width: 800px) {
  .left-block-nav {
    min-width: 208px;
    max-width: 208px;
  }
}