@import 'variables.scss';

.discription-product-section__discription-product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.discription-product-block {
    display: flex;
    justify-content: flex-start;
}

.characteristic-type-item {
    display: flex;
}

.discription-product-section__title {
    margin-bottom: 20px;
    font-size: 34px;
}

.characteristic__title {
    margin-bottom: 8px;
}

.characteristic-type-item {
    margin-bottom: 4px;
}

.characteristic-type__name {
    width: 230px;
}

.discription-product__characteristic {
    border-right: 1px solid $colorTextPriceCard;
}

.discription-product__characteristic {
    padding-right: 20px;
}

.bascket-block-item {
    display: flex;
}

.bascket-block__name {
    width: 50%;
}

.bascket-block-item {
    margin-bottom: 4px;
}

.bascket-block-list {
    margin-bottom: 40px !important;
}

.characteristic__discr,
.characteristic__title {
    font-size: 22px;
    font-weight: 300;
    color: $colorHeaderNavLink;
}